/* StyleSheet of components used in the website such as buttons */

/* Main button style */
.btn-main {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #5A827D;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-main:hover {
    background-color: #435a57;
}

/* Secondary button style */
.btn-secondary {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #5A827D;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #435a57;
}