/* StyleSheet of header of the website */

/* Importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header styles */
header {
    background-color: #5A827D;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

header h1 a {
    text-decoration: none;
    color: #fff;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li:hover>a {
    text-decoration: underline;
    color: #F3D6B8;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav ul li.active a {
    color: #F3D6B8;
}

header .link-active>a {
    color: #F3D6B8;
    text-decoration: underline;
}