/* StyleSheet of 'Account' page of the website  */

body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 80px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* Tabs buttons */
.tabs {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px;
    width: 49%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tabs button.active {
    background-color: #5A827D;
    color: #fff;
}

/* Form area */
.form h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Buttons */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5A827D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #435a57;
}