/* StyleSheet of Home page of the website */

main {
    padding: 2rem;
}

/* Hero section*/
.hero {
    width: 1000px;
    text-align: center;
    margin: 0px auto 40px auto;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero #top-details {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.details {
    font-size: 1.1rem;
}

.hero .gallery {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

.hero .gallery img {
    width: 300px;
    height: auto;
}

/* About section */
.about {
    text-align: center;
    width: 1000px;
    margin: 80px auto 40px auto;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}